<div class="modal fade" id="full_user_post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog full_modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <div class = "header_username">
          
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body post_body">
        
        <div id="post_image">
          
        </div>
        
        <div class = "comments">

          <div class = "caption_section">
            
          </div>

          <div class = "comment_section">

            

          </div>

          <div class = "modal_comment">
            <%= form_for Comment.new ,html: { class: "all_modal_comment" } do |comment| %>
            
              <%= comment.text_field :text ,placeholder: "Add a comment..." ,class: "add_modal_comment" %>
              <%= comment.hidden_field :post_id, :value => "" %>
              
              <%= comment.submit "post",class: "post-comment-btn" %>
              
            <% end %>
          </div>
        </div>
      
        
      </div>

    </div>
  </div>
</div>



  <script>
    $('#full_user_post').on('show.bs.modal', function (event) {
      var post = $(event.relatedTarget) // Button that triggered the modal
      var post_id = post.data('post-id') // Extract info from data-* attributes
      var modal = $(this)

      $.ajax({
        url: "/post/" + post_id,
        success: function (data) {
          updateModal(modal, data,post_id)
        }
      })
      // modal.find('.modal-title').text('New message to ' + recipient)
      // modal.find('.modal-body input').val(recipient)
    })

    function updateModal(modal, data,post_id) {
      image = "<img src='" + data.image_url + "' width='512' height='400'>"

      post_user = "<img src='" + data.user.avatar_url + "' class = comment_profile >" + data.user.username + data.caption

      post_user_name = "<img src='" + data.user.avatar_url + "' class = 'comment_profile'>" + data.user.username
      
      $("#comment_post_id").val(post_id);
     

      other_user_comments = ""
      for (i = 0; i < data.comments.length; i++) {

        other_user_comments += "<div class = 'comment_div'>"
        if (data.comments[i].user.avatar_url) {
         other_user_comments += "<img src='" + data.comments[i].user.avatar_url + "' class = comment_profile >" }
        else {
          other_user_comments += "<svg viewBox='0 0 16 16' class= 'comment_profile' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>"+"<path d='M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z'/>"+"<path fill-rule='evenodd' d='M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/>"+"<path fill-rule='evenodd' d='M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z'/>"+"</svg>"
        }

        other_user_comments += data.comments[i].user.username + data.comments[i].text + "</div>"
      }

      
      
      $('#post_image').html(image)
      $('.caption_section').html(post_user)
      $('.comment_section').html(other_user_comments)
      $(".header_username").html(post_user_name) 
    }



    $(".post-comment-btn").on("click", function(event){
      var comment_post_btn = $(event.target);
      var comment_form = $(comment_post_btn).parent(".all_modal_comment")
      event.preventDefault();
     
      
      $.ajax({
        url: "/comments",
        method: "POST",
        data: comment_form.serialize(),
        dataType: "json",
        success: function(comment_data){
          if(comment_data.success === true) {
            comment_text = ""
            comment_text += "<div class = 'comment_div' >"
            if (comment_data.comment.user.avatar_url) {
              comment_text += "<img src= '"+ comment_data.comment.user.avatar_url +"' class = comment_profile >" }
            else {
              comment_text += "<svg viewBox='0 0 16 16' class= 'comment_profile' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>"+"<path d='M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z'/>"+"<path fill-rule='evenodd' d='M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/>"+"<path fill-rule='evenodd' d='M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z'/>"+"</svg>"
            }
            comment_text += comment_data.comment.user.username + comment_data.comment.text + "</div>"
            $(".comment_section").append(comment_text);
            $(comment_form).children(".add_modal_comment").val("");
          }
        }
      })
    })
  </script>