<!--Section Content-->
<section class="container container-top">

  <div>
    <% if @posts.count <= 0 %>
      <span> please follow users to see posts</span>
    <% end %>
  </div>

  <section class="content-container">
    <!--CONTENTS-->
    <div class="posts">
      <!--CONTENT CARD-->
      <% @posts.each do |post| %>

        <%= render partial: "post",locals: {home_post: post} %>
      <% end %>
    </div>

    <!--SIDEBAR-->
    
    <%= render partial: "shared/post_modal" %>


    <script>
      $("body").on("click",".comment_submit", function(event){
        var home_comment_post_btn = $(event.target);
        var comment_form = $(home_comment_post_btn).parent(".home_comment");
        var section = $(comment_form).parents(".post-comments-wrapper");
        var append_comment = $(section).children(".post_two_comment")
        event.preventDefault();
       
        
        $.ajax({
          url: "/comments",
          method: "POST",
          data: comment_form.serialize(),
          dataType: "json",
          success: function(comment_data){
            if(comment_data.success === true) {
              comment_text = "<div>"+ "<a href = '/users_profile/"+ comment_data.comment.user.id   +"'"+ "class = 'post-comment-author'"+ ">"+ comment_data.comment.user.username +"</a>" + " "+comment_data.comment.text + "</div>"
              $(append_comment).append(comment_text);
              $(comment_form).children(".add-comment").val("");

            }
          }
        })
      })




      current_page = <%= @page %>

      $(window).scroll(function(){
        if($(window).scrollTop() + $(window).height() >= $(document).height()) {
          current_page += 1;

          $.ajax({
            url: "/home?page=" + current_page,
            dataType: "JSON",
            success: function(post_data){
              if(post_data.success === true) {
                $(".posts").append(post_data.post);
              }
            }
          })
        }
      })
    </script>
  </section>

</section>



