.forgot {
  float: right;
  margin: 10px 8px 10px 0px;
}

.modal_profile {
  height: 50px;
  width: 50px;
  display: inline-block;
}
.modal_image {

  border-radius: 100%;
  image-rendering: pixelated;
  height: 100%;
  width: 100%;
}
.profile__profile-follow {
  cursor: pointer;
}
.find_users{
  margin-bottom: 15px;
  display: inline-block;
  color: black;
}

.modal_follow {
  float: right;
}


.user_post {
  
  display: inline-block;
}


.show_post {
  margin-top: 60px;
}

.post_image {
  margin-top: 16px;
  margin-left: 8px;
}


.comments {
  float: right;
  width: 344px;
}


.full_modal {
  max-width: 870px;
}


.comment_section {
  height: 275px;
  overflow: scroll;
  
}

.caption_section{
  margin-top: 18px;
  border-bottom: 1px solid black;
}

.comment_div {
  margin-top: 18px;
}
.comment_profile {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

#post_image {
  width: 500px;
  display: inline-block;
}

.post_svg {
  height: 23px;
  width: 36px;
  margin-left: 15px;

}

.svg_profile {
  height: 24px;
  width: 25px;
  border-radius: 100%;
  color: black;
}

.btn-outline-secondary{
  color: black;
}

.suggested {
  background-color: var(--card-bg-color);
  
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px var(--bx-shadow-color);
  height: 288px;
  border-radius: 2px;

}


.add_modal_comment {
  width: 291px;
  height: 54px;
  
  resize: none;
  overflow: hidden;
  outline: none !important;
  border: none;
  background-color: var(--card-bg-color);
}

.modal_comment {
  border-top: 1px solid gray;
}

.post-comment-btn {
  float: right;
  margin-top: 10px;
}

.search_image {
  width: 69px;
  height: 69px;
  border-radius: 100px;
  image-rendering: pixelated;
 
}

.search_section {
  
  margin-left: 70px;

}


.search_user {
  color: black;
}

.search_username {
  font-size: 16px;
  font-weight: 700;
  margin-left: 7px;
}

.search_profile {
  margin-top: 25px;
}
.search_follow_link {
  float: right;
  margin-right: 280px;
  margin-top: 15px;
}

.header_username{
  margin-left: 416px;
}

.post_body {
  padding: 0px;
}


.sidebar_profile {
  margin-left: 19px;
}

.comments_text {
  margin-left: 7px;
}

.view-all-comments {
cursor: pointer;
}

.liked{
  fill: red;
}

.settings {
  margin-left: 10px;
}

.edit-profile-btn {
  cursor: pointer;
}

.edit-wrapper {
  width: 730px;
}

.update_user {
  float: right;
  margin-right: 74px;
}

.update_account {
  float: right;
}

.field {
  margin-left: 100px;
  font-weight: 700;
  margin-top: 30px;
}

.edit-width {
  width: 169px;
}

.update_account {
  float: right;
}

.update_field {
  width: 100%;
}

.elete {
  float: right;
}

.home_page{
  height: 24px;
  width: 24px;
  color: black;
}

.settings {
  margin-right: 12px;
  color: black;
}

.all_svg {
  display: inherit;
}

.nav_logout {
  font-weight: 600;
  
}